<h1>LOGIN</h1>

<form action="/users/login" method="post">
  <label for="email">Email</label>
  <input type="email" name="email" id="email" required />

  <label for="password">Password</label>
  <input type="password" name="password" id="password" required />

  <input type="submit" value="LOGIN" />
</form>

<h2>NEW USER?</h2>
<button onclick="location.href='/views/register'">GO REGISTER</button>